.main{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    margin-top: 100px;
    gap: 20px;
   
   
}
.text{
    
    margin-top: 50px;
    width: 60%;
    
}
.login{
    border: 1px solid black;
    width: 50%;
    padding: 20px;
   border-style: none;
   background-color: white;
}
h1{
    color: blue;
}
h2{
    color: black;
}
#blue{
    width: 90% ;
    background-color: blue;
    color: white;
    margin: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: none;
}
#green{
    background-color: green;
    color: white;
     padding-top: 10px;
    padding-bottom: 10px;
    margin: 8px;
    border-style: none;
    margin-left: 85px ;
}
a{
    color: blue;
    text-decoration: none;
  margin-left: 90px;
   
}
input{
    padding-top: 8px;
    padding-bottom: 8px;
    width: 90%;
}

body{
    background-color: aliceblue;
}
h1{
  font-size: 50px ;
}